doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='styles/main.min.css')
header.header
  .header-container
    .nav
      .logo DREAMSHARE
      .nav-buttons
        .nav-button Log in
        .nav-button.button-border Sign up
    .header-info
      p.logo-mobile DREAMSHARE
      .info-title share your
      .info-title holiday dream
      p.info-text And find the perfect partner to fullfill it
      .info-button Find your holiday partner
// -------------------------------------------------------------------------------------------------------------------
main
  .main-container
    section.how-works
      p.main-title How Dreamshare works?
      .how-works-cards
        .how-works-card.card-1
          .card-button STEP 1
          .card-title Sed leo enim, condimentum
          .card-info
            | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis
        .how-works-card.card-2
          .card-button STEP 2
          .card-title Morbi velit risus
          .card-info
            | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet  porttitor est.
        .how-works-card.card-3
          .card-button STEP 3
          .card-title Sed leo enim, condimentum
          .card-info
            | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
    section.people
      p.main-title Meet a partner for your best holiday
      .people-box
        .people-card
          .people-img-1
            .people-img-1-icon-box
              img.people-img-icon(src='IMG/music-icon.svg' alt='')
          p.people-card-name Bradley Hunter
          p.people-card-info Based in Chicago. I love playing tennis and loud music.
        .people-card
          .people-img-2
            .people-img-2-icon-box
              img.people-img-icon(src='IMG/pencil-icon.svg' alt='')
          p.people-card-name Marie Bennett
          p.people-card-info Currently living in Colorado. Lover of art, languages and travelling.
        .people-card
          .people-img-3
            .people-img-3-icon-box
              img.people-img-icon(src='IMG/camera-icon.png' alt='')
          p.people-card-name Diana Wells
          p.people-card-info
            | Living in Athens, Greece. I love black and white classics, chillout music and green tea.
        .people-card
          .people-img-4
            .people-img-4-icon-box
              img.people-img-icon(src='IMG/airplane-icon.svg' alt='')
          p.people-card-name Christopher Pierce
          p.people-card-info Star Wars fanatic. I have a persistent enthusiasm to create new things.
      .people-button See other partners
    section.photos
      p.main-title Discover holiday activity ideas
      .photos-box
        .photo-box-section
          .photo.photo-1.small
            .dark-background Sports and Activis
          .photo.photo-2.small
            .dark-background Wellness and Health
          .photo.photo-3.small
            .dark-background
              | Extreme Sports
              br
              | and Expeditions
        .photo-box-section
          .photo.photo-4.small
            .dark-background Games
          .photo.photo-5.big
            .dark-background Culture and Education
        .photo-box-section
          .photo.photo-6.big
            .dark-background Enjoyment and Relaxation
          .photo.photo-7.small
            .dark-background Traveling
    section.search
      p.main-title Create your holiday activity
      p.search-info Hi! What are your holiday interests?
      .search-input
        .input-block
          input.input-interest(type='text' placeholder='Enter your interests')
          .search-button Search partners
// -------------------------------------------------------------------------------------------------------------------
footer.footer
  .footer-container
    p.footer-logo DREAMSHARE
    .company
      p.footer-main-text Company
      .footer-secondary-text.first-secondary About
      .footer-secondary-text Contact
      .footer-secondary-text Press
      .footer-secondary-text Blog
      .footer-secondary-text Terms and Privacy
      .footer-secondary-text Help
    .company-hiden
      p.footer-main-text Company
      .company-hiden-1
        .footer-secondary-text About
        .footer-secondary-text Contact
        .footer-secondary-text Press
        .footer-secondary-text Blog
      .company-hiden-2
        .footer-secondary-text Terms and Privacy
        .footer-secondary-text help
    p.partners Partners
    .footer-logo-img
      p.footer-logo-img-text DESIGNED BY
      .footer-logo-img-image
        img(src='IMG/footer-logo.svg' alt='')
